.websiteBody{
    background: lightcoral;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes fadeIn{
    from{
        opacity: 0.7;
        scale: 0.9;
    }to{
        opacity: 1;
        scale: 1;
    }
}
.nav_bar{
    padding: 15px;
    position: fixed;
    z-index: 99999;
    width: 100%;
}
.navbar-nav li{
    padding-left: 150px;
    font-size: 18px;
    font-family: cursive;
}
.navbar-brand{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#home{
    height: 700px;
    margin-top: 100px;
}
#heading{
    margin-top: 250px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    animation-name: slideInLeft;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
#fullForm{
    font-size: 20px;
    animation-name: slideInLeft;
    animation-duration: 6s;
    animation-iteration-count: 1;
}
#fullForm kbd{
    padding: 10px;
    border-radius: 20px;
}
@keyframes slideInLeft{
    from{
        transform: translateX(-100%);
        opacity: 0.7;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}
marquee{
    width: 100%;
    height: 30px;
    background-color: skyblue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 100%;
}
marquee a{
    color: blue;
}
#scienceTextbook{
    margin-top: 150px;
    transform: rotate(330deg);
    animation-name: slideInLeft;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
#mathsTextbook{
    margin-top: 50px;
    transform: rotate(330deg);
    animation-name: slideInAbove;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes slideInAbove{
    from{
        transform: translateY(-100%);
        opacity: 0.7;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}
#about{
    background-color: white;
    height: 800px;
    font-size: larger;
}
.logo{
    padding: 20px;
    border-radius: 40px;
    border: black solid 3px;
    margin-top: 300px;
}
.logo:hover{
    animation-name: bob;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes bob{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(30px);
    }
}
#aboutUsHeading{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-top: 50px;
}
.line{
    height: 15px;
    width: 80px;
    background-color: darkblue;
    border-radius: 10px;
}
#info{
    text-align: left;
    font-weight: 700;
}
.li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#newsTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 30px;
}
#news{
    background-color: lightseagreen;
    height: 1200px;
}
iframe{
    border: 5px solid white;
    border-radius: 10px;
}
.newsHeading{
    color: white;
    margin-top: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
.p{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 50px;
    margin-top: 50px;
}
#products{
    height: 700px;
    background-color: steelblue;
    color: white;
}
#productsTitle{
    margin-top: 30px;
    font-family: monospace;
    font-weight: bold;
}
.bookCover{
    scale: 0.7;
}
.textbookTitle{
    margin-top: -30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}
.books{
    border: 3px white solid;
    height: 500px;
    margin-top: 50px;
}
.books h3{
    margin-bottom: 0;
}
.modal{
    margin-top: 100px;
}
.modalImages{
    scale: 0.7;
    margin-bottom: -50px;
    margin-top: -50px;
}
.modal-title{
    background-color: skyblue;
}
#footer{
    height: 70px;
    background-color: black;
    color: grey;
    text-align: center;
    margin-top: -20px;
}
#footer h3{
    padding-top: 20px;
}